{% extends "main_app/base.html" %}
{% block head_title %}{{ instance.title }} | {{ block.super }}
{% endblock head_title %}
{% block content %}
    <div class="col-md-9">
        <div class="main-my-awesome-document-card">
            <div class="main-my-awesome-document-title">{{ instance.title }}</div>
            <div class="main-my-awesome-document-content">{{ instance.reason }}</div>
            {{ instance.content|linebreaks }} <br>
            <a class="nav-item" href="{% url 'doc_app:document_print' instance.id %}">Print</a>
        </div>
    </div>
{% endblock content %}