{% extends "main_app/base.html" %}
{% block content %}
    <div class="col-md-9">
        <a href="{% url 'doc_app:document_create'%}">Create new document</a>
        {% for claim in claims %}
            <div class="main-my-awesome-document-card">
                <!--Title-->
                <h4 class="main-my-awesome-document-title">{{ claim.title }}</h4>
                <!--Text-->
                <p class="main-my-awesome-document-content">{{ claim.content }}</p>
                <a href="{{ claim.get_absolute_url }}" class="link-text"><h5>Read more </h5></a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}