{% extends 'main_app/base.html' %}
{% load staticfiles %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="submitted" value="true">
    <table style="margin-left: auto; margin-right:auto;">
        <caption style="font-size: 125%;text-align:center;padding:0.25em;">Login Form</caption>
        <tbody>
        <tr>
            <td style="width: 8em;text-align:right;padding:0.5em;">
                Login/Email:
            </td>
            <td>
                <input name="login" style="width:220px;" value="">
            </td>
        </tr>
        <tr>
            <td style="width: 8em;text-align:right;padding:0.5em;">
                Password:
            </td>
            <td>
                <input type="password" name="password" style="width:220px;">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;padding-top:1em;">
                <div style="margin: 0 auto; text-align:center;">
                    <input type="submit" name="submit" value="Login" style="margin:0.5em;width:90px;">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" name="ccid" value="eb73a80927ce22de396cf0a139267f90">
</form>
{% endblock content %}